<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Copyright (C) 2014 - 2016 Open Source Geospatial Foundation. All rights reserved.
 This code is licensed under the GPL 2.0 license, available at the root
 application directory.
 -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean class="org.geoserver.platform.ModuleStatusImpl">
      <constructor-arg index="0" value="gs-wfs"/>
      <constructor-arg index="1" value="GeoServer Web Feature Service"/>
    </bean>
	<bean id="wfsLegacyLoader" class="org.geoserver.wfs.WFSLoader"/>
	<bean id="wfsLoader" class="org.geoserver.wfs.WFSXStreamLoader">
	  <constructor-arg ref="resourceLoader"/>
	</bean>
    
	<!-- wfs service -->
	<!--bean id="wfsService" class="org.geoserver.wfs.DefaultWebFeatureService">
		<constructor-arg ref="geoServer"/>
		<property name="filterFactory" ref="filterFactory"/>
	</bean-->
	
	<!-- the shared filter factory -->
    <bean id="filterFactory3d" class="org.geotools.filter.ISOFilterFactoryImpl"/>
	
	<bean id="ISOwfsServiceTarget" class="org.geoserver.wfs.ISODefaultWebFeatureService">
		<constructor-arg ref="geoServer"/>
		<property name="filterFactory" ref="filterFactory3d"/>
	</bean>

    <bean id="wfsLogger" class="org.geoserver.ows.util.EMFLogger">
      <constructor-arg type="java.lang.String" value="org.geoserver.wfs"/>
    </bean>
	<bean id="wfsServiceISO" class="org.springframework.aop.framework.ProxyFactoryBean">
	  <property name="proxyInterfaces">
	  	<value>org.geoserver.wfs.WebFeatureService</value>
	  </property>
	  <property name="interceptorNames">
	  	<list>
	  		<value>wfsLogger</value>
            <value>wfsServiceInterceptor*</value>
	  		<value>ISOwfsServiceTarget</value>
	  	</list>
	  </property>
	</bean>

	<bean id="wfsService-1.1.1" class="org.geoserver.platform.Service">
		<constructor-arg index="0" value="wfs3d"/>
		<constructor-arg index="1" value="http://www.opengis.net/wfs"/>
		<constructor-arg index="2" ref="wfsServiceISO"/>
		<constructor-arg index="3" value="1.1.1"/>
		<constructor-arg index="4">
          <list>
            <value>GetCapabilities</value>
            <value>DescribeFeatureType</value>
            <value>GetGmlObject</value>
            <value>GetFeature</value>
            <value>GetFeatureWithLock</value>
            <value>LockFeature</value>
            <value>Transaction</value>
          </list>
        </constructor-arg>
	</bean>
	
	<!-- http url mapping -->
	<bean id="wfsURLMappingISO"
        class="org.geoserver.ows.OWSHandlerMapping">
        <constructor-arg ref="catalog"/> 
		<property name="alwaysUseFullPath" value="true"/>
		<property name="interceptors">
			<list>
				<ref bean="wfsCiteComplianceHack"/>
				<ref bean="xmlPostRequestLogBufferSize"/>
			</list>
		</property>
	
		<property name="mappings">
			<props>
				<prop key="/wfs3d">dispatcher</prop>
				<prop key="/wfs3d/*">dispatcher</prop>
				<prop key="/TestWfsPost">wfsTestServlet</prop>
			</props>
		</property>
	</bean>
	
	<bean id="wfs3dService" class="org.geoserver.wfs.WFS3DTest"/>
	
	<bean id="helloService-1.0.0" class="org.geoserver.platform.Service">
    
        <!-- used to reference the service in the URL -->
        <constructor-arg index="0" value="wfs"/>

        <!-- our actual service POJO defined previously -->
        <constructor-arg index="1" ref="wfs3dService"/>

        <!-- a version number for this service -->
        <constructor-arg index="2" value="1.0.1"/>
            
        <!-- a list of functions for this service -->
        <constructor-arg index="3">
            <list>
                <value>GetFeature</value>
            </list>
        </constructor-arg>
        
    </bean>
</beans>
